<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Complete Booking </title>
</head>
    <div>
        <img style="display:block; margin: auto; height: 100px;"  src="http://tecnodael.com/wp-content/uploads/2023/02/Screen-Shot-2023-02-23-at-8.45.40-PM.png">
        <h1 style="margin: 20px auto 10px auto; text-align:center; font-size:20px;"> Complete your booking: </h1>
        <p style="margin:0 auto 30px auto; padding: 0; color: gray; text-align:center; font-size:15px;"> You booking has been approved from the team: </p>

        <div style="display:block; width:fit-content;  margin:auto; padding-left:50px; justify-content:center;">
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Name:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{name}}</p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Phone:</p> 
                <p style="text-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{phone}} </p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Email:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{email}} </p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Activity:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{event}} </p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Date:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{date}} </p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> People:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> {{people}} people </p> 
            </div>
            <div style="display:block; margin:auto;"> 
                <p style="font-weight: bold; font-size:15px; display:inline-block; margin:auto; padding:0; width:80px;"> Total:</p> 
                <p style="ext-align:left; font-size:15px; display:inline-block; margin:0; padding:5px 0;"> ${{amount}} USD </p> 
            </div>
        </div>
    
        <div style="display:block; width:fit-content;  margin:auto; justify-content:center;">
            <div style="width:350px; height:40px;  margin:40px auto; border-radius:10px; background:#F15A2C; color:white; justify-content:center; align-items:center; padding-top:12px;">
                <a href={{link}} style=" display:block; width:250px; height:30px; color:white;  margin:auto;text-decoration:none; text-align:center; font-size:20px;"> Proceed to Payment </a>    
            </div>
        </div>
    </div>

</body>
</html>

